{% extends "base.html" %}

{% block content %}
<div class="limiter">
    <div class="some-container">
        <div class="wrap-with-shadow" style="width: 500px;">
            <h3 class="text-center test-dark">Авторизация</h3>
            {% if message %}
            <div class="alert alert-warning text-center" role="alert">{{ message }}</div>
            {% endif %}
            <form action="" method="post" class="d-flex flex-column mb-3 text-center">
                {{ form.hidden_tag() }}
                <div class="p-2">{{ form.email.label }}</div>
                <div class="p-2">{{ form.email(class="form-control", type="email") }}</div>
                {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
                <div class="p-2"> {{ form.password.label }}</div>
                <div class="p-2"> {{ form.password(class="form-control", type="password") }}</div>
                {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
                <div class="p-2"> {{ form.remember_me() }} {{ form.remember_me.label }}</div>
                <div class="p-2">
                    <div>{{ form.submit(type="submit", class="btn btn-primary") }}</div>
                    <div class="text-center"><h5 class="text-dark">или</h5></div>
                    <a href="registration" class="btn btn-primary border-width-2 d-none d-lg-inline-block">Зарегистрироваться</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
