{% extends "base.html" %}

{% block content %}
<div class="limiter">
    <div class="container-login_reg" style="min-height: 100vh;">
        <div class="wrap-login_reg">
            <h1>Выложить проект</h1>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.name.label }}<br>
                    {{ form.name(class="form-control") }}<br>
                    {% for error in form.name.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
                </p>
                <p>
                    {{ form.proj_type.label }}<br>
                    {{ form.proj_type(class="form-control", type="radio") }}<br>
                    {% for error in form.proj_type.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
                </p>
                <p>
                    {{ form.platform.label }}<br>
                    {{ form.platform(class="form-control") }}<br>
                    {% for error in form.platform.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
                </p>
                <p>
                    {{ form.short_description.label }}<br>
                    {{ form.short_description(class="form-control", type="text") }}<br>
                    {% for error in form.short_description.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
                </p>
                <p>
                    {{ form.detailed_description.label }}<br>
                    {{ form.detailed_description(class="form-control", type="text") }}<br>
                    {% for error in form.detailed_description.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
                </p>
                <p>
                    {{ form.archive.label }}<br>
                    {{ form.archive(class="form-control", type="file") }}<br>
                    {% for error in form.archive.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
                </p>
                <p>
                    {{ form.image.label }}<br>
                    {{ form.image(class="form-control", type="file") }}<br>
                    {% for error in form.image.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
                </p>
                <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
                {{message}}
            </form>
        </div>
    </div>
</div>
{% endblock %}
