<div class="border rounded shadow-sm overflow-hidden d-flex flex-row mb-3 mb-4 h-md-250">
    <div class="flex-column" style="padding: 15px 15px 15px 15px; width: 70%;">
        {% if project.project_type == 0 %}
        <strong class="d-inline-block mb-2 text-primary font-weight-bold">PyQT</strong>
        {% elif project.project_type == 1%}
        <strong class="d-inline-block mb-2 text-success font-weight-bold">PyGame</strong>
        {% elif project.project_type == 2%}
        <strong class="d-inline-block mb-2 text-info font-weight-bold">PyWEB</strong>
        {% endif %}
        <h3 class="mb-0">{{ project.project_name }}</h3>
        <div class="mb-1 text-muted">{{ project.date_creation }}</div>
        <div class="mb-1 text-muted">{{ project.platform }}</div>
        <p class="card-text mb-auto" style="word-wrap: break-word">{{ project.project_short_description }}</p>
        <a href="/gifkbfvkghbjfdvbj" class="stretched-link">Смотреть подробнее</a>
    </div>
    <img alt="" src="static/img/default_img/project_default_image.jpg">
</div>
